<key>UIAppFonts</key>
<array>
    <string>Fonts/FiraSansCondensed-Medium.ttf</string>
    <string>Fonts/FiraSansCondensed-Regular.ttf</string>
    <string>Fonts/FiraSansCondensed-SemiBold.ttf</string>
    <string>Fonts/FiraSansExtraCondensed-Medium.ttf</string>
    <string>Fonts/FiraSansExtraCondensed-Regular.ttf</string>
    <string>Fonts/FiraSansExtraCondensed-SemiBold.ttf</string>
    <string>Fonts/NotoSerif-Bold.ttf</string>
    <string>Fonts/NotoSerif-Medium.ttf</string>
    <string>Fonts/NotoSerif-Regular.ttf</string>
</array>
