<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89714218912-obh30s6luf7rndgt0oe7giv02a874qja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89714218912-obh30s6luf7rndgt0oe7giv02a874qja</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>89714218912-csgn081os4emt3bkade7aiqcnm36hgle.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0r7mQjoIUUKDTwOEOuZmZNH3U8lUEuIg</string>
	<key>GCM_SENDER_ID</key>
	<string>89714218912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.elsiglo.torreon</string>
	<key>PROJECT_ID</key>
	<string>el-siglo-fcm</string>
	<key>STORAGE_BUCKET</key>
	<string>el-siglo-fcm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89714218912:ios:8945c002869c0f19abf6c5</string>
	<key>DATABASE_URL</key>
	<string>https://el-siglo-fcm.firebaseio.com</string>
</dict>
</plist>